Modules/Semester_1/3D Design/Übungen/UE-1/cube_diorama_exercise_/cube_diorama_exercise/cube_diorama.blend1
/Modules/Semester_1/Video Audio Technik/Übungen Video/2025-10-21/Stuff/PNG_Arri_Hafen
/Modules/Semester_1/Video Audio Technik/Übungen Video/2025-10-21/Adobe After Effects Auto-Save
Obsidian Vault/MTD/.obsidian/plugins/github-embeds/data.json
Modules/Semester_1/3D Design/Aufgaben/UE-2/Render8k.png
Modules/Semester_1/Modern Code/Aufgaben/02_Java_Variables_Types_Expression_Control_Structures/~$otocol.docx
Modules/Semester_1/2D Design/Übungen/Übung 5/~indesignexcercise~ydgpd$.idlk
