Modules/Semester_1/3D Design/Übungen/UE-1/cube_diorama_exercise_/cube_diorama_exercise/cube_diorama.blend1
/Modules/Semester_1/Video Audio Technik/Übungen Video/2025-10-21/Stuff/PNG_Arri_Hafen
/Modules/Semester_1/Video Audio Technik/Übungen Video/2025-10-21/Adobe After Effects Auto-Save