Modules/Semester_1/3D Design/Übungen/UE-1/cube_diorama_exercise_/cube_diorama_exercise/cube_diorama.blend1
/Modules/Semester_1/Video Audio Technik/Übungen Video/2025-10-21/Stuff/PNG_Arri_Hafen
/Modules/Semester_1/Video Audio Technik/Übungen Video/2025-10-21/Adobe After Effects Auto-Save
Obsidian Vault/MTD/.obsidian/plugins/github-embeds/data.json
Modules/Semester_1/3D Design/Aufgaben/UE-2/Render8k.png
Modules/Semester_1/Modern Code/Aufgaben/02_Java_Variables_Types_Expression_Control_Structures/~$otocol.docx
Modules/Semester_1/2D Design/Übungen/Übung 5/~indesignexcercise~ydgpd$.idlk
Modules/Semester_1/Video Audio Technik/Übungen Audio/UE-4/~$otokoll.docx
Modules/Semester_1/Motion Design/Excercises/2025-11-05/Adobe After Effects Auto-Save/FirstAnimation auto-save 1.aep
Modules/Semester_1/Motion Design/Excercises/2025-11-05/Adobe After Effects Auto-Save/FirstAnimation auto-save 2.aep
Modules/Semester_1/Fotografie/Fange Formen Ein/Shapes/Shapes/Shapes.lrcat-data/LOCK
Modules/Semester_1/Fotografie/Fange Formen Ein/Shapes/Shapes/Shapes.lrcat-data/CURRENT
Modules/Semester_1/Fotografie/Fange Formen Ein/Shapes/Shapes/Shapes.lrcat-data/IDENTITY
Modules/Semester_1/Modern Code/Aufgaben/03_Methods_and_Combat/~$otocol.docx
Modules/Semester_1/Modern Code/Aufgaben/03_Methods_and_Combat/~WRL0005.tmp
Modules/Semester_1/Visual Aestehtics/Art/Still Life/~still life~n_-0n2.idlk
*.kra~
Modules/Semester_1/3D Design/Aufgaben/UE-4/Coffe Maker.blend1
Modules/Semester_1/Modern Code/Aufgaben/04_Arrays_and_Algorithms/~$otocol.docx
Modules/Semester_1/Modern Code/Aufgaben/04_Arrays_and_Algorithms/~WRL1310.tmp
Modules/Semester_1/Modern Code/Aufgaben/04_Arrays_and_Algorithms/~WRL0292.tmp
/Modules/Semester_1/Jams/Animation Jam 2025/Export
Modules/Semester_1/Jams/Animation Jam 2025/Final/KastanienGang_LostPuppy/KastanienGang_LostPuppy.mp4
Modules/Semester_1/3D Design/Übungen/2025-12-10/Exercise 7/Cornell.blend1
Modules/Semester_1/Fotografie/Fange Formen Ein/Shapes/Shapes/Shapes.lrcat.lock
Modules/Semester_1/Fotografie/Neighbours/Neighbours/Neighbours/Neighbours.lrcat-data/LOCK
Modules/Semester_1/Fotografie/Neighbours/Neighbours/Neighbours/Neighbours.lrcat-data/CURRENT
Modules/Semester_1/Fotografie/Neighbours/Neighbours/Neighbours/Neighbours.lrcat.lock
Modules/Semester_1/2D Design/Aufgaben/Cozy Place/~cozy place~m4wx-8.idlk
Modules/Semester_1/2D Design/Aufgaben/Character Design/~mina~bq_$b_.idlk
Modules/Semester_1/3D Design/Aufgaben/UE-6/Nebula Interstella Trifid.blend1
Modules/Semester_1/3D Design/Aufgaben/UE-6/Nebula Interstella Trifid.blend1
